<%#=link_to "New Order",  static_pages_home_path%>
<%#=link_to "History",  static_pages_home_path(:history => true)%>
<h5> Your History Order </h5>
<%= will_paginate @done_cancel %>
<div class="well">
<% @done_cancel.each do |order| %>
	<% 
		user = User.find(order.user_id)
		coffee = Coff.find(order.coff_id)
		status = Status.find(order.status_id)
	%>
		<% if(order.status_id==Status::DONE_ID) %>
			<div class="alert alert-info">
				Order from : <%= user.email %> (<%=order.created_at%>) <br>
				Order Coffee : <%= coffee.name %> (<%= coffee.price.to_s%>฿)<br>
				Order status : <%= status.name %>
				<div class="pull-right">
					<a href="<%= order_path(order) %>" class="delete btn btn-small" data-method="delete"><i class="icon-trash"></i></a>
				</div>
			</div>
		<% else %>
			<div class="alert alert-error">
				Order from : <%= user.email %> (<%=order.created_at%>) <br>
				Order Coffee : <%= coffee.name %> (<%= coffee.price.to_s%>฿)<br>
				Order status : <%= status.name %>
					<div class="pull-right">
						<a href="<%= order_path(order) %>" class="delete btn btn-small" data-method="delete"><i class="icon-trash"></i></a>
					</div>				  

			</div>
		<% end %>
<% end %>
<%= will_paginate @done_cancel %>
</div>

