<%#=link_to "New Order",  static_pages_home_path%>
<%#=link_to "History",  static_pages_home_path(:history => true)%>
<h5> Your Cancled Order </h5>

<div class="well">
<% @orders_cancled.each do |order| %>
	<% 
		user = User.find(order.user_id)
		coffee = Coff.find(order.coff_id)
		status = Status.find(order.status_id)
	%>
	<div class="alert alert-error">
		Order from : <%= user.email %> (<%=order.created_at%>) <br>
		Order Coffee : <%= coffee.name %> (<%= coffee.price.to_s%>฿)<br>
		Order status : <%= status.name %>
	</div>
<% end %>
</div>