<%= form_for(@coff,:html =>{ :multipart=> true})  do |f| %>
  <% if @coff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coff.errors.count, "error") %> prohibited this coff from being saved:</h2>

      <ul>
      <% @coff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div>
   <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
