<div class="well">
<% @coffs.each do |coff| %>
  <tr>
    <td><%= coff.name %></td>
    <td><%= coff.price %></td>
    <td><%= link_to 'Show', coff %></td>
    <td><%= link_to 'Edit', edit_coff_path(coff) %></td>
    <td><%= link_to 'Destroy', coff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <br>
<% end %>

<%= link_to 'New Coff', new_coff_path %>
</div>